.content-box {
  margin-top: 40px;
  background: #f0f0f0;
  padding: 0;
}

.title-select-box {
  float: right;
}

.time-box {
  .el-radio-button__inner {
    padding: 8px 0 10px 0
  }

}

.detail {
  .detail-title {
    color: #7a8fe0;
    font-size: 14px;
    margin: 10px 0;
  }
  .detail-box {
    height: 70px;
    overflow: hidden;
    font-size: 12px;
    &.active {
      height: 100%;
      overflow: hidden;
    }
  }
  .detail-text {
    margin: 10px 0;
    div {
      float: left;
      margin-right: 10px;
      color: #7a8fe0;
      cursor: pointer;
      font-size: 14px;
    }
  }

}
