/*.nav-sidebar {
  margin-right: -21px;
  *//* 20px padding + 1px border *//*
  margin-bottom: 20px;
  margin-left: -20px;
}*/

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  a {
    color: #fff;
  }
  .panel {
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
  .panel-default {
    border: none
  }

  .panel-default > .panel-heading {
    color: #fff;
    border: none;
    background-color: #7a8fe0;
  }
  .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }
  .collapse.in {
    border-left: 4px solid #c4d1fe;

  }
  .panel-title {
    font-size: 14px;
  }
  .panel-title .glyphicon {
    margin-right: 5px;
    font-size: 14px;
  }
  .nav > li > a:hover {
    background: none;
  }
  .panel-body {
    padding: 0 25px;
  }
  .nav-sidebar {
    margin-bottom: 0px;
  }
}

.menu {
  width: 180px;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  transition: all .28s ease-out;
/*  background: #889ff8;*/
  color: #fff;
}

.main {
  min-height: 100%;
  transition: all .28s ease-out;
  margin-left: 180px;
  padding-top: 20px;
}

.el-menu-item, .el-submenu__title {
  color: rgb(191, 193, 217);
}

.el-submenu .el-menu-item {
  padding: 0 !important;
}

.el-menu-item a, .el-submenu__title a {
  color: #fff;
  text-underline: none;
  text-decoration: none;
  display: block;
  text-align: center;
}

/*.el-submenu .el-menu {
  background: #889ff8 !important;
}*/

.logo {
  margin: 10px;
  img {
    max-width: 100%;
  }
}
