.part1 {
  width: 100%;
  overflow: hidden;
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
    padding: 20px 16px;
    .bg-purple {
      padding: 20px 16px;
      color: #fff;
      min-height: 60px;
    }
  }
  .el-col:nth-child(1) .bg-purple {
    background: #8a65ce;
  }
  .el-col:nth-child(2) .bg-purple {
    background: #889ff8;
  }
  .el-col:nth-child(3) .bg-purple {
    background: #ff8264;
  }
  .el-col:nth-child(4) .bg-purple {
    background: #ff917a;
  }
  .el-col:nth-child(5) .bg-purple {
    background: #2fabe9;
  }
  .el-col:nth-child(6) .bg-purple {
    background: #52c3fb;
  }
  .el-col:nth-child(7) .bg-purple {
    background: #8a65ce;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .first-top {
    width: 103%;

  }
}

.is-active {
  .data-piker .el-input__icon + .el-input__inner {
    color: #fff;
    background-color: #7a8fe0;
  }
}

.data-piker {
  .el-input__icon + .el-input__inner {
    height: 100% !important;
    padding: 0 18px 0 10px;
  }
  .el-input__inner {
    border: none;
  }
}

.time-box {
  .el-radio-button__inner {
    padding: 8px 0 10px 0
  }
}

.radio-box {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.el-date-editor--daterange.el-input {
  width: 100%;
}

.title-box {
  background: #fff;
  padding: 20px;
  overflow: hidden;
}

.calendar-box {
  width: 100%;
  margin: 20px 0;
}

.select-box {
  width: 100%;
  overflow: hidden;
}

.trend-box {
  background: #fff;
  padding: 0 20px;
}

.header-wrapper {
  padding: 10px;
  background: #f0f0f0;
  overflow: hidden;
  h1 {
    color: #000;
    font-size: 18px;
    float: left
  }
  i {
    display: inline-block;
    padding-left: 7px;
    color: #9d9d9d;
    font-size: 16px;
  }
}

.text-color {
  color: #7a8fe0;
  cursor: pointer;
}

