.content-box {
  margin-top: 40px;
  background: #f0f0f0;
  padding: 0;
}

.title-box {
  background: #f0f0f0;
  padding: 20px;
}

.title-select-box {
  float: right;
}

.trend-box {
  background: #fff;
  padding: 0 20px;
}

.chat {
  float: left;
  margin-right: 10px;
}

.top-title {
  h2 {
    font-size: 14px;
  }
}


